<header class="header">
    <div class="navigation">
        <input type="checkbox" class="menu-bakery">
        <div class="hamburguer">
            
        </div>
        <ul class="menu">
            <li> <a href="/src/index.html">Inicio</a></li>
            <li> <a href="/src/app/team/team.component.html">Team</a></li>
            <li> <a href="#">Estrategias</a></li>
            <li> <a href="/src/app/start/start.component.html">LogOut</a></li>
        </ul> 
    </div>
    <div class="logo_container">
        <img clas="pokemon_titulo" src="assets/images/Pokemon_titulo.png" alt="titulo">
    </div>
</header>