<!--<div class="search_pokemon">
    <input type="text" name="search"[(ngModel)]="searchText" placeholder="search ">
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pokemon Name</th>
            <th>Type</th>
        </tr>
    </thead>  
    <tbody>
        <tr *ngfor="let pokemons | filter:searchText">
            <td>{{}}</td>
        </tr>
    </tbody>  
</table>-->
<!--<section class= "browser_container">
    <div class="account">
        <img src="assets/images/user.png" alt="user">
    </div>
    <div class="browser">
        <input type="text" class="search">
        !<input type="image"class= "image_buscar" src="assets/images/lupa.png" >
        <input type="image" class= "image_buscar" src="assets/images/mic.png">
    </div>
    <div class="settings">
        <img class="settings" src="assets/images/settings.png" alt="settings">
    </div>
</section>-->
<div class="buscador">
    
    
    <input type="text" (keyup)="lister()" placeholder="Search pokemon" [(ngModel)]="name" value="{{name}}">
    <div id="lista-pk" >
      <ul class="{{display}}">
      <li *ngFor="let pokemon of pokemons"  (click)="filter(pokemon.name)" >{{pokemon.name}}</li>
      </ul>
    </div>
  
  
  
  
    <input type="hidden"  #ascantidad  [(ngModel)]="cantidad" id="cantidad">
    <input type="hidden"  #ascantidad  [(ngModel)]="lista" id="lista">
    <br>
    <button class="go boton efecto" (click)="search()">Start</button>
    <button class="sear boton efecto" (click)="reset()">Reset</button>
    <button class="sear boton efecto" (click)="aleatoria()">Random</button>
  
    <div #asmensaje  id="mensaje" style="color:red">{{mensaje}} </div>
    <div #astarjeta id="tarjeta" class="{{tarjeta}}">
  
      <div id="{{pokemon.name}}" class="box col1"
    *ngFor="let pokemon of pokemons_tj  ">
      <img [src]="pokemon.img" alt="Pokemon">
      <h3>{{pokemon.name}}</h3>
      <p>Type: {{pokemon.types}}</p>
      <p>Height:{{pokemon.height}}</p>
      <p>Health:{{pokemon.health}}</p>
      <p>Attack Power:{{pokemon.atack}}</p>
    </div>
    </div>
  
    </div>
    
    

